{% extends 'base.html' %}
{% load static %}

{% block title %}Détails d'une actualité{% endblock %}

{% block content %}

{% comment %} <h2>{{ news.title }}</h2>
<p>Date de publication : {{ news.publication_date }}</p>
<p>Auteur : {{news.author}}</p>
<p>{{ news.content }}</p> {% endcomment %}


<div class="card mb-3">
    <img src="{{ news.picture.url }}" class="card-img-top w-50" alt="{{ news.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ news.title }}</h5>
      <p class="card-text">{{ news.content }}</p>
      <p class="card-text"><b>Auteur :</b> {{ news.author }}</p>
      <p class="card-text"><small class="text-body-secondary">Publication : {{ news.publication_date }}</small></p>
</div>

{% endblock %}